<div class="form-field">
  <label for="select-id" class="form-label">Label</label>
  <div class="form-field-select">
    <select class="form-control" id="select-id" aria-invalid="false">
      <option>-- Please select -- </option>
      <option>An option</option>
    </select>
    <i class="icon icon-chevron-down" aria-hidden="true"></i>
  </div>
</div>
