<div class="form-field has-error">
  <label for="select-id-error" class="form-label">Label</label>
  <div class="form-field-select">
    <select class="form-control" id="select-id-error" aria-describedby="select-error" aria-invalid="true">
      <option>-- Please select -- </option>
      <option>An option</option>
    </select>
    <i class="icon icon-chevron-down" aria-hidden="true"></i>
  </div>

  <div id="select-error" class="form-validation-error">
    <p>This field contains an error.</p>
  </div>
</div>
