<fieldset class="fieldset fieldset-select-date">
  <legend id="legend-select-date" class="fieldset-label">Date label</legend>

  <div class="form-group">
    <div class="form-field">
      <label for="select-id-1" class="form-label access">Day</label>

      <div class="form-field-select">
        <select
          class="form-control"
          id="select-id-1"
          aria-invalid="false"
          aria-labelledby="legend-select-date"
        >
          <option>Day</option>
          <option>01</option>
          <option>...</option>
          <option>31</option>
        </select>

        <i class="icon icon-chevron-down" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-field">
      <label for="select-id-2" class="form-label access">Month</label>

      <div class="form-field-select">
        <select
          class="form-control"
          id="select-id-2"
          aria-invalid="false"
          aria-labelledby="legend-select-date"
        >
          <option>Month</option>
          <option>January</option>
          <option>...</option>
          <option>December</option>
        </select>

        <i class="icon icon-chevron-down" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-field">
      <label for="select-id-3" class="form-label access">Year</label>

      <div class="form-field-select">
        <select
          class="form-control"
          id="select-id-3"
          aria-invalid="false"
          aria-labelledby="legend-select-date"
        >
          <option>Year</option>
          <option>1918</option>
          <option>...</option>
          <option>2018</option>
        </select>

        <i class="icon icon-chevron-down" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</fieldset>
