<fieldset class="fieldset">
  <legend class="fieldset-label">Group label</legend>
  <div class="form-group">
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-1"
        name="checkbox-group"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-1-value"
      />
      <label for="checkbox-group-1" class="form-label">Label</label>
    </div>
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-2"
        name="checkbox-group"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-2-value"
      />
      <label for="checkbox-group-2" class="form-label">Label</label>
    </div>
  </div>
</fieldset>
