<fieldset class="fieldset has-error">
  <legend class="fieldset-label">Group label</legend>
  <div class="form-group">
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-5"
        name="checkbox-group-c"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-5-value"
        aria-labelledby="checkbox-error"
      />
      <label for="checkbox-group-5" class="form-label">Label</label>
    </div>
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-6"
        name="checkbox-group-c"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-6-value"
        aria-labelledby="checkbox-error"
      />
      <label for="checkbox-group-6" class="form-label">Label</label>
    </div>
  </div>

  <div id="checkbox-error" class="form-validation-error">
    <p>This field contains an error.</p>
  </div>
</fieldset>
