<fieldset class="fieldset fieldset-inline">
  <legend class="fieldset-label">Group label</legend>
  <div class="form-group">
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-3"
        name="checkbox-group-b"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-3-value"
      />
      <label for="checkbox-group-3" class="form-label">Label</label>
    </div>
    <div class="form-field">
      <input
        type="checkbox"
        id="checkbox-group-4"
        name="checkbox-group-b"
        class="form-control"
        aria-invalid="false"
        value="checkbox-group-4-value"
      />
      <label for="checkbox-group-4" class="form-label">Label</label>
    </div>
  </div>
</fieldset>
