<button class="btn btn-cta btn-block" type="button">Button</button>
<button class="btn btn-primary btn-block" type="button">Button</button>
<button class="btn btn-secondary btn-block" type="button">Button</button>
<button class="btn btn-secondary btn-block" type="button" disabled="disabled">Button</button>
