<button class="btn btn-cta btn-sm" type="button">Button</button>
<button class="btn btn-primary btn-sm" type="button">Button</button>
<button class="btn btn-secondary btn-sm" type="button">Button</button>
<button class="btn btn-tertiary btn-sm" type="button">Button</button>
<button class="btn btn-secondary btn-sm" type="button" disabled="disabled">Button</button>
