<div class="form-error-summary" tabindex="0">
  <p>There are 2 problems with the information you've given. You'll need to correct this before you can continue.</p>

  <ul>
    <li>
      <button type="button" class="btn-error-link" data-target="form-input-error-1">
        Text input is required
      </button>
    </li>
    <li>
      <button type="button" class="btn-error-link" data-target="form-select-error-id">
        Select input label is required
      </button>
    </li>
  </ul>
</div>

<form class="form" autocomplete="off">
  <div class="form-field has-error">
    <label for="form-input-error-1" class="form-label">Text input label</label>
    <input type="text" id="form-input-error-1" class="form-control" aria-invalid="false" aria-labelledby="form-input-error" placeholder="Example placeholder" />
    <div id="form-input-error" class="form-validation-error">
      <p>Text input label is required</p>
    </div>
  </div>

  <div class="form-field has-error">
    <label for="form-select-error-id" class="form-label">Select input label</label>

    <div class="form-field-select">
      <select class="form-control" id="form-select-error-id" aria-invalid="false" aria-labelledby="form-select-error">
        <option>-- Please select -- </option>
        <option>An option</option>
      </select>

      <i class="icon icon-chevron-down" aria-hidden="true"></i>
    </div>

    <div id="form-select-error" class="form-validation-error">
      <p>Select input label is required</p>
    </div>
  </div>

  <fieldset class="fieldset">
    <legend class="fieldset-label">Checkbox group label</legend>
    <div class="form-group">
      <div class="form-field">
        <input
          type="checkbox"
          id="form-checkbox-error-group-1"
          name="form-checkbox-error-group"
          class="form-control"
          aria-invalid="false"
          value="form-checkbox-error-group-1-value"
        />
        <label for="form-checkbox-error-group-1" class="form-label">Option 1</label>
      </div>
      <div class="form-field">
        <input
          type="checkbox"
          id="form-checkbox-error-group-2"
          name="form-checkbox-error-group"
          class="form-control"
          aria-invalid="false"
          value="form-checkbox-error-group-2-value"
        />
        <label for="form-checkbox-error-group-2" class="form-label">Option 2</label>
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset fieldset-inline">
    <legend class="fieldset-label">Radio group label</legend>
    <div class="form-group">
      <div class="form-field">
        <input
          type="radio"
          id="form-radio-error-group-1"
          name="form-radio-error-group"
          class="form-control"
          aria-invalid="false"
          value="form-radio-error-group-1-value"
        />
        <label for="form-radio-error-group-1" class="form-label">Option 1</label>
      </div>
      <div class="form-field">
        <input
          type="radio"
          id="form-radio-error-group-2"
          name="form-radio-error-group"
          class="form-control"
          aria-invalid="false"
          value="form-radio-error-group-2-value"
        />
        <label for="form-radio-error-group-2" class="form-label">Option 2</label>
      </div>
    </div>
  </fieldset>

  <div class="form-field">
    <button type="submit" class="btn btn-primary btn-chevron" disabled>Submit</button>
  </div>
</form>
