<div class="card">
  <h3 class="card-title access">Card title</h3>

  <div class="card-body">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Morbi leo risus, porta ac consect.</p>
  </div>
</div>

<div class="card">
  <h3 class="card-title">Card title</h3>

  <div class="card-body">
    <p class="standfirst">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Morbi leo risus, porta ac consect.</p>

    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Morbi leo risus, porta ac consect.</p>
  </div>
</div>
