<div class="dls-code-wrap" tabindex="0">
  <div class="dls-code">
    <h3 class="access">HTML markup for the {{#if title}}{{title}} {{/if}}component</h3>

    {{#markup (lookup . 'fileName') isInlineMarkup}}{{/markup}}
  </div>
</div>
