<div class="dls-swatch">
  <div
    class="dls-swatch-colour{{#if border}} dls-swatch-colour-border{{/if}}"
    style="background-color: {{value}};"></div>
  <div><strong>{{name}}</strong></div>
  <div>{{value}}</div>
</div>
