<fieldset class="fieldset has-error">
  <legend class="fieldset-label">Group label</legend>
  <div class="form-group">
    <div class="form-field">
      <input
        type="radio"
        id="radio-group-5"
        name="radio-group-c"
        class="form-control"
        aria-invalid="true"
        aria-labelledby="radio-error"
      />
      <label for="radio-group-5" class="form-label">Label</label>
    </div>
    <div class="form-field">
      <input
        type="radio"
        id="radio-group-6"
        name="radio-group-c"
        class="form-control"
        aria-invalid="true"
        aria-labelledby="radio-error"
      />
      <label for="radio-group-6" class="form-label">Label</label>
    </div>
  </div>

  <div id="radio-error" class="form-validation-error">
    <p>This field contains an error.</p>
  </div>
</fieldset>
