<div class="form-field has-error">
  <label for="input-id-2" class="form-label">Label</label>

  <input
    type="text"
    id="input-id-2"
    class="form-control"
    aria-describedby="input-2-error"
    aria-invalid="true"
    placeholder="Example placeholder"
  />

  <div id="input-2-error" class="form-validation-error">
    <p>This field contains an error.</p>
  </div>
</div>
