<div class="notification">
  <div class="notification-content">
    <p>Some message goes here.</p>
  </div>

  <button type="button" class="icon icon-cross"><span class="access">Close notification</span></button>
</div>

<div class="notification notification-success">
  <div class="notification-content">
    <p>Some message goes here.</p>
  </div>

  <button type="button" class="icon icon-cross"><span class="access">Close notification</span></button>
</div>

<div class="notification notification-error">
  <div class="notification-content">
    <p>Some message goes here.</p>
  </div>

  <button type="button" class="icon icon-cross"><span class="access">Close notification</span></button>
</div>

<div class="notification notification-service">
  <div class="notification-content">
    <p>Some message goes here.</p>
  </div>

  <button type="button" class="icon icon-cross"><span class="access">Close notification</span></button>
</div>
