<h3 class="dls-sub-heading">{{heading}}</h3>
<p>This grid system is based on <a href="https://getbootstrap.com/docs/3.3/css/#grid">Bootstrap 3.3.7</a>.</p>
<div>
  The classes available are:
  <ul class="bullet-list">
    <li>.col-xxs-*</li>
    <li>.col-xs-*</li>
    <li>.col-sm-*</li>
    <li>.col-md-*</li>
    <li>.col-lg-*</li>
  </ul>
</div>
<p>Classes for column offsetting and ordering are also available based on the breakpoints listed above.</p>
