<div aria-hidden="true">
  <h3 class="dls-sub-heading">{{heading}}</h3>

  <div class="dls-grid-container">
    <div class="row dls-row">
      {{#times 12}}
      <div class="col-md-1 dls-col">
        <div class="inner-col">
          .col-md-1
        </div>
      </div>
      {{/times}}
    </div>

    <div class="row dls-row">
      <div class="col-md-8 dls-col">
        <div class="inner-col">
          .col-md-8
        </div>
      </div>
      <div class="col-md-4 dls-col">
        <div class="inner-col">
          .col-md-4
        </div>
      </div>
    </div>

    <div class="row dls-row">
      <div class="col-md-6 dls-col">
        <div class="inner-col">
          .col-md-6
        </div>
      </div>
      <div class="col-md-6 dls-col">
        <div class="inner-col">
          .col-md-6
        </div>
      </div>
    </div>
  </div>

  <div class="dls-panel-desc">
    <p>For a more accurate example of the grid system please look at the <a href="grid-example.html" target="_blank">grid system example</a>.</p>
  </div>
</div>
