<h3 class="dls-sub-heading">{{heading}}</h3>

<div class="table-wrapper">
  <table class="table text-left">
    <caption class="h4 text-left">Breakpoints</caption>
    <tr class="table-heading">
      <th scope="col">Size (Breakpoint)</th>
      <th scope="col">Gutters</th>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">XXS (300px)</span>
        <span class="access">Extra extra small (300 pixels)</span>
      </th>
      <td>
        <span aria-hidden="true">5px + 5px = 10px</span>
        <span class="access">5 pixels + 5 pixels = 10 pixels</span>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">XS (576px)</span>
        <span class="access">Extra small (576 pixels)</span>
      </th>
      <td>
        <span aria-hidden="true">5px + 5px = 10px</span>
        <span class="access">5 pixels + 5 pixels = 10 pixels</span>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">SM (768px)</span>
        <span class="access">Small (768 pixels)</span>
      </th>
      <td>
        <span aria-hidden="true">10px + 10px = 20px</span>
        <span class="access">10 pixels + 10 pixels = 20 pixels</span>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">MD (992px)</span>
        <span class="access">Medium (992 pixels)</span>
      </th>
      <td>
        <span aria-hidden="true">10px + 10px = 20px</span>
        <span class="access">10 pixels + 10 pixels = 20 pixels</span>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">LG (1280px)</span>
        <span class="access">Small (1280 pixels)</span>
      </th>
      <td>
        <span aria-hidden="true">10px + 10px = 20px</span>
        <span class="access">10 pixels + 10 pixels = 20 pixels</span>
      </td>
    </tr>
  </table>
</div>

<div class="table-wrapper">
  <table class="table text-left">
    <caption class="h4 text-left">Container</caption>
    <tr class="table-heading">
      <th scope="col">Screen width</th>
      <th scope="col">Container width</th>
      <th scope="col">
        <span aria-hidden="true">Container max-width</span>
        <span class="access">Container maximum width</span>
      </th>
      <th scope="col">Container margins</th>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">Up to XXS</span>
        <span class="access">Up to to extra extra small</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">310px + 10px (gutter) = 320px</span>
        <span class="access">300 pixels + 10 pixels of gutter = 320 pixels</span>
      </td>
      <td>3% left, 3% right</td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">Up to XS</span>
        <span class="access">Up to extra small</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">1010px + 10px (gutter) = 1020px</span>
        <span class="access">1000 pixels + 10 pixels of gutter = 1020 pixels</span>
      </td>
      <td>3% left, 3% right</td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">Up to SM</span>
        <span class="access">Up to small</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">1000px + 20px (gutter) = 1020px</span>
        <span class="access">1000 pixels + 20 pixels of gutter = 1020pixels</span>
      </td>
      <td>3% left, 3% right</td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">Up to MD</span>
        <span class="access">Up to medium</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">1000px + 20px (gutter) = 1020px</span>
        <span class="access">1000 pixels + 20 pixels of gutter = 1020 pixels</span>
      </td>
      <td>5% left, 5% right</td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">Up to LG</span>
        <span class="access">Up to large</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">1180px + 20px (gutter) = 1200px</span>
        <span class="access">1180 pixels + 20 pixels of gutter = 1200 pixels</span>
      </td>
      <td>5% left, 5% right</td>
    </tr>
    <tr>
      <th scope="row">
        <span aria-hidden="true">From LG</span>
        <span class="access">From large</span>
      </th>
      <td>100%</td>
      <td>
        <span aria-hidden="true">1180px + 20px (gutter) = 1200px</span>
        <span class="access">1180 pixels + 20 pixels of gutter = 1200 pixels</span>
      </td>
      <td>auto</td>
    </tr>
  </table>
</div>
