<div class="footer-container">
  <div class="brand-line" aria-hidden="true">
    <span class="brand-line-1"></span>
    <span class="brand-line-2"></span>
    <span class="brand-line-3"></span>
    <span class="brand-line-4"></span>
    <span class="brand-line-5"></span>
  </div>

  <footer class="global-footer" role="contentinfo">
    <div class="container">
      <div class="footer-col">
        <div class="row">
          <div class="col-sm-6">
            <ul class="primary-nav">
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/existing-customers/contact-us/">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6">
            <ul class="primary-nav">
              <li>
                <a target="_blank" href="http://careers.legalandgeneralgroup.com/">Careers</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <ul class="secondary-nav">
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/accessibility/">Accessibility</a>
              </li>
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/security/">Security</a>
              </li>
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/legal-information/">Legal and regulatory</a>
              </li>
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/privacy-policy/">Privacy policy</a>
              </li>
              <li>
                <a target="_blank" href="https://www.legalandgeneral.com/privacy-policy/cookies.html">Cookie policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-col">
        <img alt="Legal and General" class="main-logo" src="assets/images/landg-logo.svg">
        <p class="copyright">© Legal & General Group plc 2018</p>
      </div>
    </div>
  </footer>
</div>
