<label class="switch">
  <input type="checkbox" class="switch-input">
  <span class="access">Toggle label</span>
  <span class="switch-focus" aria-hidden="true"></span>
  <span class="switch-handle" aria-hidden="true"></span>
  <span class="switch-toggle switch-toggle-on" aria-hidden="true">Yes</span>
  <span class="switch-toggle switch-toggle-off" aria-hidden="true">No</span>
</label>
