body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}

$fonts-path: 'dls/assets/fonts';
@import 'dls/lib/style/colour/colour';
@import 'dls/assets/style/lib/reset';
@import 'dls/assets/style/lib/variables';

@import 'dls/assets/style/lib/helpers/mixins';
@import 'dls/assets/style/lib/utilities';

@import 'dls/lib/style/typography/typography';
@import 'dls/lib/style/typography/headings/headings';
@import 'dls/lib/style/iconography/iconography';
@import 'dls/lib/style/grid/grid';

@import 'dls/lib/components/button/buttons';
@import 'dls/lib/components/footer/footer';
@import 'dls/lib/components/notification/notification';
@import 'dls/lib/components/accordion/accordion';
@import 'dls/lib/components/tabs/tabs';
@import 'dls/lib/components/card/card';
@import 'dls/lib/components/table/table';
@import 'dls/lib/components/link/link';
@import 'dls/lib/components/list/list';
@import 'dls/lib/components/toggle/toggle';

@import 'dls/lib/components/form/form';
@import 'dls/lib/components/form/fieldset';
@import 'dls/lib/components/form/form-field';
@import 'dls/lib/components/form/form-control';
@import 'dls/lib/components/form/checkmark/radio-button/radio-button';
@import 'dls/lib/components/form/checkmark/checkbox/checkbox';
@import 'dls/lib/components/form/text-input/text-input';
@import 'dls/lib/components/form/select-input/select-input';
@import 'dls/lib/components/form/date-input/date-input';
@import 'dls/lib/components/form/text-input/ni-number-input';

a:focus, button:focus, area:focus, input:focus, select:focus, textarea:focus, [tabindex='0']:focus, [tabindex='-1']:focus {
  outline-offset: 0;
  outline: 3px solid #fc0!important;
}
