<ul class="list-tick">
  <li>First list item</li>
  <li>Second list item
    <ul>
      <li>Nested list item 1</li>
      <li>Nested list item 2</li>
      <li>Nested list item 3</li>
    </ul>
  </li>
  <li>Third list item</li>
  <li>Fourth list item</li>
</ul>
