<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !(IE)]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Grid example - Design language system - Legal and General</title>
    <meta name="description" content="Design language system - Legal and General"/>
    <base href="/">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css?v={{cachebuster}}">
  </head>

  <body class="dls-grid-example">
    <div class="access">
      <h1>Grid system example</h1>
      <p>The content of this page is unavailable for screen reader users.</p>
    </div>
    <div class="container" aria-hidden="true">
      <div class="row">
        <div class="col-sm-12">
          <h1 aria-hidden="true">Grid system example</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="inner-col">
            <h2>Section 1</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
        <div class="col-sm-8">
          <div class="inner-col">
            <h2>Section 2</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="inner-col">
            <h2>Section 3</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner-col">
              <h2>Section 4</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner-col">
              <h2>Section 5</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="inner-col">
            <h2>Section 6</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
        <div class="col-xs-6">
          <div class="inner-col">
              <h2>Section 7</h2>
            Lorem ipsum dolor sit amet, eu has assum facilisis. Utamur philosophia nec et. Sea vide tincidunt eu, no has amet admodum, vim pertinax molestiae similique ea. Quis admodum scriptorem mel ne, ea fugit exerci assentior sit, eu vide postea inermis nam. Sensibus principes duo at. Usu in oratio accommodare, mazim movet suavitate has ea.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="/#/grid">Go back to Legal and General design language system.</a>
        </div>
      </div>
    </div>
  </body>
</html>
