<div class="accordion" role="tablist">
  <h4 class="accordion-toggle active" id="accordion-tab-1" aria-controls="accordion-tab-1-content" aria-selected="true" aria-expanded="true" role="tab" tabindex="0">
    Heading 1 <i class="icon icon-chevron-up" aria-hidden="true"></i>
  </h4>
  <div id="accordion-tab-1-content" class="accordion-content active" aria-hidden="false" aria-labelledby="accordion-tab-1" role="tabpanel">
    Lorem ipsum dolor sit amet, mei in error munere oblique, vidisse copiosae mei cu. Ut minim graece has. Simul audire democritum sea eu. Mel magna scripta liberavisse cu, et modo summo intellegat has, nostrud vivendo lobortis no eos. Atomorum mnesarchum comprehensam ius ne, soleat quaeque nec an.
  </div>

  <h4 class="accordion-toggle" id="accordion-tab-2" aria-controls="accordion-tab-2-content" aria-selected="false" aria-expanded="false" role="tab" tabindex="0">
    Heading 2 <i class="icon icon-chevron-down" aria-hidden="true"></i>
  </h4>
  <div id="accordion-tab-2-content" class="accordion-content" aria-hidden="true" aria-labelledby="accordion-tab-2" role="tabpanel">
    Mel ut justo scripserit, ceteros disputationi mei te. Odio principes mel ea, eum affert integre labitur cu. Aeque fierent mea et, duo ad nulla philosophia. At nobis munere epicurei duo, cu impedit salutandi est. Zril exerci erroribus ne his, pri mucius doctus an, assum nullam assueverit id has.
  </div>

  <h4 class="accordion-toggle" id="accordion-tab-3" aria-controls="accordion-tab-3-content" aria-selected="false" aria-expanded="false" role="tab" tabindex="0">
    Heading 3 <i class="icon icon-chevron-down" aria-hidden="true"></i>
  </h4>
  <div id="accordion-tab-3-content" class="accordion-content" aria-hidden="true" aria-labelledby="accordion-tab-3" role="tabpanel">
    Qui nostrud voluptua consectetuer cu, regione appetere pertinax at sit. Eu denique postulant mei, duo utamur dignissim vituperata et. Porro ancillae qui ea. Putent dolorem has at. Ei vix aperiam dissentias conclusionemque.
  </div>
</div>
